# mysite_uwsgi.ini file
[uwsgi]

# Django-related settings
# the base directory (full path)
chdir           = {{ project_path }}
# Django's wsgi file
module          = {{ wsgi_module }}
# the virtualenv (full path)
home            = /venv/{{ venv_name }}

# uid/guid to server_user (generally www-data)
uid = {{ server_user }}
gid = {{ server_user }}

# process-related settings
# master
master          = true
# maximum number of worker processes
processes       = 10
# socket
socket = {{ uwsgi_sock_file }}
# give appropriate permissions to socket file
chown-socket    = {{ server_user }}
chmod-socket    = 666
# clear environment on exit
vacuum = true
# logs
daemonize = {{ application_log_dir }}/uwsgi.log
#plugins
plugins = python